header {
  background-image: url("/images/details-2-background.jpg")
}
/* Navigation START */
nav {
  margin: 0 auto;
}

.logo {
  width: 70px;
}

.border-bottom {
  border-bottom: 1px solid #b7b7c0;
}

nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  margin: 0 5px;
}
nav ul li .nav-link,
nav ul li .nav-link:after,
nav ul li .nav-link:before {
  transition: all 0.5s;
}
nav ul li .nav-link:hover {
  color: var(--primary);
}

nav.main-nav ul li .nav-link {
  position: relative;
}
nav.main-nav ul li .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--primary);
  height: 1px;
}
nav.main-nav ul li .nav-link:hover:after {
  width: 100%;
}

/************ Navigation END *************/


/************ Hero Part START *************/
.large-text {
  font-size: 3.5rem;
  color: var(--primary);
}

.features {
  color: var(--primary);
}

/* Hero Part END */
/* Service Section START */

.service-col {
  background-color: var(--bg-primary);
  margin-right: 30px;
  margin-bottom: 24px;
  padding: 32px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.75s;
  max-width: 100%;
}
.service-col:hover {
  box-shadow: none;
}

/* Service Section END */

.btn-contact {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-contact:hover {
  transform: scale(1.05) translateY(.125rem);
  color: #fff;
}

.btn-contact-lg {
  font-size: rem;
  padding: 0.5rem 2rem;
}


/* Clients START */

.clients-row div {
  width: 100%;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
    margin-top: 10px;
    border-radius: 24px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    transition: all .4s ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-125px * 12));
 }
 
}
@keyframes scroll-2 {
  100% {
    transform: translateX(0);
 }
  0% {
    transform: translateX(calc(-125px * 12));
 }
  
}
.slider {
  background: white;
  height: 100px;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 12);
}
.slider .slide-track-2 {
  animation: scroll-2 40s linear infinite;
  display: flex;
  width: calc(250px * 12);
}
.slider .slide {
  height: 100px;
  width: 250px;
  
}

/* Clients END */

/* How we Work START */
.justify-content-center .col-fifth {
  text-align: center;
}

/* How we Work END */

.interested {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  text-align: center;
  margin: 0 5rem;
}

/* Footer START */

footer {
  background-color: var(--bg-primary);
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i, .social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--twitter {
  color: #0072c6;
}
.social-button--twitter::after {
  background: #0072c6;
}

.social-button--instagram {
  color: #c12127;
}
.social-button--instagram::after {
  background: #c12127;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}


footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}
footer.col-third {
  justify-content: center;
}

footer ul li a {
  text-decoration: none;
  color: var(--primary);
  
}

footer ul li a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 0.75rem
}