header {
  height: 100vh;
  background-image: url("/images/details-2-background.jpg")
}
/* Navigation START */
nav {
  margin: 0 auto;
}

.logo {
  width: 70px;
}

.border-bottom {
  border-bottom: 1px solid #2E2D4B;
}

nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  margin: 0 5px;
}
nav ul li .nav-link,
nav ul li .nav-link:after,
nav ul li .nav-link:before {
  transition: all 0.5s;
}
nav ul li .nav-link:hover {
  color: #1b5bf7;
}

nav.main-nav ul li .nav-link {
  position: relative;
}
nav.main-nav ul li .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #1b5bf7;
  height: 1px;
}
nav.main-nav ul li .nav-link:hover:after {
  width: 100%;
}

/************ Navigation END *************/


/************ Hero Part START *************/
.large-text {
  font-size: 3.5rem;
  color: var(--blue);
}

.features {
  color: #1b5bf7;
}

/* Hero Part END */
/* Service Section START */

.service-col {
  background-color: #F4F7FF;
  margin-right: 30px;
  margin-bottom: 24px;
  padding: 32px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.75s;
}
.service-col:hover {
  box-shadow: none;
}

/* Service Section END */

.btn-contact {
  background-color: var(--blue);
  color: #fff;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-contact:hover {
  transform: scale(1.05) translateY(.125rem);
  color: #fff;
}

.btn-contact-lg {
  font-size: rem;
  padding: 0.5rem 2rem;
}