@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #1B5BF7;
  --secondary: #4EBE9E;
  --bg-primary: #F4F7FF;
}
* {
  box-sizing: border-box;
}
html {

  font-size: 112.5%;
}

body {
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-color: #fff;
  margin: 0;
  font-weight: 600;
  word-wrap: break-word;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
}
.col-sixth{
  width: 16.66%;
}
.col-fifth {
  width: 20%;
}

.col-quarter {
  width: 25%;
}

.col-third {
  width: 33.33%;
}

.col-half {
  width: 50%;
  
}


.col-full {
  width: 100%;
}

.align-flex-center {
  align-items: center;
}
.align-flex-end {
  align-items: flex-end;
}
h1 {
  font-size: 2rem;
  
}
section {
  margin: 5rem 0;
}
.horizontal-right {
  display: flex;
  justify-content: flex-end;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.justify-content-between {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }
.row {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
header {
  height: 100%;
}
.col-half{
  width: 100%;
  justify-content: center;
} 
.img-fluid {
  width: 50%;
}
.col-third {
  width: 100%;
}
  
}
@media (min-width: 992px) and (max-width: 1199px){
  .container {
    width: 970px;
  }
  .col-half {
    width: 100%;
  }
  .col-third {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

